body.dark-theme {
  background-color: black;
  color: white;
}
body.light-theme {
  background-color: white;
  color: black;
}
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px 20px;
  box-sizing: border-box;
}

/* ← dit lost het probleem op */
nav::after {
  content: "";
  display: block;
  clear: both;
}

.nav-left {
  float: left;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-right {
  float: right;
}

.nav-left h1 {
  float: left;
}

.nav-left ul {
  float: right;
}

.nav-left-links a:hover {
  font-weight: bold;
}

button#themeBtn {
  width: 30px;
  height: 30px;
  border-radius: 360px;
}